#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        TO_USB {
            bindings = <&to 5>;
            key-positions = <0 34 42 9>;
            layers = <0 6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        WIN-DEFAULT {
            bindings = <
&kp Q             &kp W         &kp E         &kp R      &kp T                               &kp Y  &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F      &kp G  &mkp MB1      &kp BACKSPACE  &kp H  &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z             &kp X         &kp C         &kp V      &kp B  &mkp MB2      &kp LC(SPACE)  &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &mo 2  &mo 1         &kp ENTER      &mo 3                             &kp BSLH
            >;

            label = "Default";
        };

        WIN-SHIFT {
            bindings = <
&kp LS(Q)  &kp LS(W)     &kp LS(E)     &kp LS(R)  &kp LS(T)                                &kp LS(Y)  &kp LS(U)  &kp LS(I)      &kp LS(O)       &kp LS(P)
&kp LS(A)  &kp LS(S)     &kp LS(D)     &kp LS(F)  &kp LS(G)  &mkp MB1      &kp BACKSPACE   &kp LS(H)  &kp LS(J)  &kp LS(K)      &kp LS(L)       &kp COLON
&kp LS(Z)  &kp LS(X)     &kp LS(C)     &kp LS(V)  &kp LS(B)  &mkp MB2      &kp LANGUAGE_4  &kp LS(N)  &kp LS(M)  &kp LS(COMMA)  &kp LS(PERIOD)  &kp LS(SLASH)
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &trans     &trans        &kp LS(RETURN)  &mo 3                                                &kp UNDERSCORE
            >;
        };

        WIN-SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans          &kp UP_ARROW    &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp LEFT_ARROW  &kt DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans          &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                   &trans
            >;
        };

        WIN-ARROW {
            bindings = <
&trans   &kp N7  &kp N8  &kp N9  &trans                                 &trans           &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&kp TAB  &kp N4  &kp N5  &kp N6  &kp LEFT_BRACKET   &trans      &trans  &kp LEFT_BRACE   &kp DOLLAR        &kp PERCENT           &kp AMPERSAND          &kp PLUS
&kp N0   &kp N1  &kt N2  &kp N3  &kp RIGHT_BRACKET  &trans      &trans  &kp RIGHT_BRACE  &kp EXCLAMATION   &kp DOUBLE_QUOTES     &kp HASH               &kp EQUAL
&trans   &trans  &trans  &trans  &trans             &trans      &trans  &trans                                                                          &mo 5
            >;
        };

        WIN-FUNCTION {
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F10                                 &trans           &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&trans  &kp F4  &kp F5  &kp F6  &kp LEFT_BRACKET   &kp F11      &trans  &kp LEFT_BRACE   &kp DOLLAR        &kp PERCENT           &kp AMPERSAND          &kp PLUS
&trans  &kp F1  &kp F2  &kp F3  &kp RIGHT_BRACKET  &kp F12      &trans  &kp RIGHT_BRACE  &kp EXCLAMATION   &kp DOUBLE_QUOTES     &kp HASH               &kp EQUAL
&trans  &trans  &trans  &trans  &trans             &trans       &trans  &trans                                                                          &trans
            >;
        };

        USB {
            bindings = <
&none  &none       &none       &none  &none                    &none  &none  &none  &none  &none
&none  &none       &none       &none  &none  &to 0      &to 6  &none  &none  &none  &none  &none
&none  &bt BT_PRV  &bt BT_NXT  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none       &none       &none  &none  &none      &none  &none                       &none
            >;
        };

        MAC-DEFAULT {
            bindings = <
&kp Q   &kp W   &kp E   &kp R      &kp T                           &kp Y   &kp U  &kp I      &kp O    &kp P
&kp A   &kp S   &kp D   &kp F      &kp G   &mkp MB1      &kp BSPC  &kp H   &kp J  &kp K      &kp L    &kp SEMI
&kp Z   &kp X   &kp C   &kp V      &kp B   &mkp MB2      &kp TAB   &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH
&trans  &trans  &trans  &kp SPACE  &trans  &trans        &kp RET   &trans                             &kp NON_US_BACKSLASH
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
